<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <img width="24" height="24" src="https://img.icons8.com/ios-filled/24/facebook--v1.png" alt="facebook--v1"/>
            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/instagram-new.png" alt="instagram-new"/>
            <img width="24" height="24" src="https://img.icons8.com/ios-filled/24/linkedin.png" alt="linkedin"/>
        </div>
        <div >&copy; Wanderer's palace pvt ltd</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>