<%- layout("../layouts/boilerplate") %>
<body>
    <h1>All listings</h1>
    <form action="/listings/new" method="get">
        <button>Add your property</button>
    </form>
    <ul>
        <%for(property of properties){%>
            <li><a href="http://localhost:8080/listings/<%=property._id%>"><%=property.title%></a></li>
        <%}%>
    </ul>
    
</body>