<%- layout("../layouts/boilerplate") %>

<body>
  <h1>Add your propery details</h1>
  <form action="/listings" method="post" novalidate class="needs-validation">
    <div class="mb-3 col-8">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Name of your property"
        id="title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Title looks good</div>
      <div class="invalid-feedback">Title is required</div>
    </div>
    <div class="mb-3 col-8">
      <label for="description" class="form-label">Description </label>
      <textarea
        name="listing[description]"
        placeholder="About your property"
        class="form-control"
        id="description"
        required
      ></textarea>
      <div class="invalid-feedback">Description is required</div>
    </div> 
    <div class="row">
      <div class="mb-3 col-md-3 col-8">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          name="listing[price]"
          placeholder="price in Indian Rupees(INR)"
          class="form-control"
          id="price"
          required
        />
        <div class="invalid-feedback">Enter a valid amount</div>
      </div>
      <div class="mb-3 col-md-5 col-8">
        <label for="country" class="form-label">country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="country location"
          class="form-control"
          id="country"
          required
        />
        <div class="invalid-feedback">Enter your country name</div>
      </div>
    </div>

    <div class="mb-3 col-8">
      <label for="image" class="form-label">Image link</label>
      <input
        type="text"
        name="listing[image][url]"
        placeholder="Property image url"
        class="form-control"
        id="image"
      />
    </div>
    <br /><br />
    <button class="btn btn-wp">Add</button>
  </form>
</body>
<!--  -->
