<%- layout("../layouts/boilerplate") %>

<body>
  <div class="row col-6 offset-3">
    <div class="mb-3"><h2>LogIn :</h2></div>
    <form action="/login" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username :</label>
        <input
          type="text"
          id="usrname"
          name="username"
          required
          class="form-control"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password :</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="form-control"
          placeholder="Enter your password"
        />
      </div>
      <div class="mt-5">
        <button class="btn btn-outline-success">LogIn</button>
      </div>
    </form>
  </div>
</body>
